#nav {
    display: flex;
    flex-direction: column;
    width: 30%;
    text-align: center;
    color: white;
}

#footer {
    width: 100%;
    text-align: center;
    color: white;
    padding: 2% 0 2% 0;
}